body{
    font-family: Tahoma;
    kkbackground-image: linear-gradient(45deg, #800080, #9900ff);
    background: url(https://www.10wallpaper.com/wallpaper/1920x1080/1407/blue_abstract-design_HD_wallpaper_1920x1080.jpg);
}

.tela-login{
    background-color:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding:80px;
    border-radius: 15px;
    color:white;
    text-align: center;
    border:2px solid rgb(105, 105, 105);
    backdrop-filter: blur(8px);
    

}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}

button{
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    cursor:pointer;
    font-weight: bold;
    color:white

}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}

span{
    color: white;
    font-weight: bold;
    font-size: 12px;
    

}

p{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    
}

i{
    padding: 10px;
}

.tela-login .botao{
    
}

@keyframes botao{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-aroundxxxxxxxxx;
    list-style: none;
    background-image: linear-gradient(45deg, #001780, #00c3ff);
    padding: 5px;

}

.menu .texto-menu{
    text-decoration: none;
}

.menu ul li{
    align-items: center;
}

.menu ul a{
margin: 50px;
align-items: center;
